**Question 1-** Create the dictionary given below and print the value of key "Virat" from the below *dictionary*

In [ ]:
sampleDict = {
    "Country": {
        "Indian Cricket Team": {
            "name": ["Rohit, Virat", "Rahul", "shami","Bumrah"],
            "Runs": {
                "Rohit": 47,
                "Virat": 54,
                "Rahul":66
            }
        }
    }
}

In [ ]:
sampleDict = {"Country": {"Indian Cricket Team": {"name": ["Rohit, Virat", "Rahul", "shami","Bumrah"], "Runs": {"Rohit": 47,"Virat": 54,"Rahul":66}}}}

In [ ]:
#Syntax

dictionaryname[keyname][keyname inside the nested dictionary]

In [ ]:
print(sampleDict["Country"]["Indian Cricket Team"]["Runs"]["Virat"])

54

**Question -2** Write a Python program to check if value 2700 exists in the following dictionary.

In [ ]:
sample_dict = {'a': 100, 'b': 2800, 'c': 300}

In [ ]:
if 2700 in sample_dict.values():
  print("2700 present in our dictionary")
else:
  print("Not present in our dictionary")

Not present in our dictionary

**Question -3** Write a program to add a list of elements into a given set.

In [ ]:
sample_set = {"Surya", "Kapil", "MSD"}
sample_list = ["Sachin", "Siraj", "Sehwag"]

In [ ]:
sample_set.update(sample_list)
print(sample_set)

{'Sehwag', 'MSD', 'Kapil', 'Sachin', 'Surya', 'Siraj'}

**Question -4** Write a python program to return a new set of identical items from two sets

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
print(set1.intersection(set2))

{40, 50, 30}

**Question -5** Given a list of numbers. write a program to turn every item of a list into its square.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
result=[]
for x in numbers:
  result.append(x*x)

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
result1=[]
for x in numbers:
  result1.append(x**2)

print(result1)

[1, 4, 9, 16, 25, 36, 49]

**Question -6** Write a program to add item 7000 after 6000 in the following Python List

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1[0]

10

In [ ]:
list1[1]

20

In [ ]:
list1[2][2]

[5000, 6000]

In [ ]:
list1[2][2].append(7000)

In [ ]:
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1[2][2]

[5000, 6000, 7000]

In [ ]:
list1 = [10, 20, [300, 400, [5000, [8000,7000,6000]], 500], 30, 40]

In [ ]:
list1[2][2][1][1]

7000